<a href="https://colab.research.google.com/github/kabilan942/coursera-gp/blob/main/Pandas_for_Data_Analysis_Learning_Path_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TASK #1. DEFINE A PANDAS SERIES

In [5]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python). 
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.

import pandas as pd

In [6]:
# Let's define a Python list that contains 5 crypto currencies 
crypto_list = ['BTC', 'XRP', 'LTC', 'ADA', 'ETH']
crypto_list

['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

In [7]:
# Let's confirm the Datatyptype
type(crypto_list)

list

In [9]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that series is formed of data and associated index (numeric index has been automatically generated) 
# Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series
# Object datatype is used for text data (String)

crypto_series = pd.Series(data=crypto_list)

In [10]:
# Let's confirm the Pandas Series Datatype
type(crypto_series)

pandas.core.series.Series

In [11]:
# Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data
# Note that we have int64 datatype which means it's integer stored in 64 bits in memory

crypto_num = pd.Series(data = [1000, 3000, 500])
crypto_num

0    1000
1    3000
2     500
dtype: int64

**MINI CHALLENGE #1:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite stocks. Confirm the datatype of "my_series"**

In [12]:
my_list = ['Microsoft', 'Apple', 'Samsung']
my_series = pd.Series(data = my_list)
my_series

0    Microsoft
1        Apple
2      Samsung
dtype: object

# TASK #2. DEFINE A PANDAS SERIES WITH CUSTOM INDEX

In [13]:
# Let's define a Python list that contains 5 Crypto currencies
crp_list = ['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

In [15]:
# Let's define a python list as shown below. This python list will be used for the Series index:
ind_list = ['crypto#1', 'crypto#2', 'crypto#3', 'crypto#4', 'crypto#5']

In [18]:
# Let's create a one dimensional Pandas "series" 
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels 

crp_series = pd.Series(data=crp_list, index=ind_list)

In [19]:
# Let's view the series
crp_series

crypto#1    BTC
crypto#2    XRP
crypto#3    LTC
crypto#4    ADA
crypto#5    ETH
dtype: object

In [20]:
# Let's obtain the datatype
type(crp_series)

pandas.core.series.Series

**MINI CHALLENGE #2:**
- **Define a Pandas Series named "my_series" that contains your top 3 favourite stocks. Instead of using default numeric indexes (similar to mini challenge #1), use the following indexes "stock #1", "stock #2", and "stock #3"**

In [21]:
my_list = ['Microsoft', 'Apple', 'Samsung']
my_index = ['stock #1','stock #2','stock #3']
my_series = pd.Series(data = my_list, index=my_index)
my_series

stock #1    Microsoft
stock #2        Apple
stock #3      Samsung
dtype: object

# TASK #3. DEFINE A PANDAS SERIES FROM A DICTIONARY

In [22]:
# A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys
# Define a dictionary named "my_dict" using key-value pairs
my_dict = {'Employee ID': 1,
 'Employee Name': 'Steve',
 'Salary [$]': 2000,
 'Years with company': 10}

In [23]:
# Show the dictionary
my_dict

{'Employee ID': 1,
 'Employee Name': 'Steve',
 'Salary [$]': 2000,
 'Years with company': 10}

In [24]:
# Confirm the dictionary datatype 
type(my_dict)

dict

In [26]:
# Let's define a Pandas Series Using the dictionary
dict_series = pd.Series(my_dict)
dict_series

Employee ID               1
Employee Name         Steve
Salary [$]             2000
Years with company       10
dtype: object

**MINI CHALLENGE #3:**
- **Create a Pandas Series from a dictionary with 3 of your favourite stocks and their corresponding prices**

In [27]:
stock_dict = {'Microsoft':1000, 'Apple':2000, 'Samsung':500}

stock_series = pd.Series(stock_dict)
stock_series

Microsoft    1000
Apple        2000
Samsung       500
dtype: int64

# TASK #4. PANDAS ATTRIBUTES

In [29]:
# Attributes/Properties: do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape
# Methods: use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()
# Indexers: use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[]

# Let's redefine a Pandas Series containing our favourite 5 cryptos 

crp_list_4 = ['BTC', 'XRP', 'LTC', 'ADA', 'ETH']
crp_series_4 = pd.Series(data=crp_list_4)
crp_series_4

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

In [30]:
# ".Values" attribute is used to return Series as ndarray depending on its dtype
# Check this for more information: https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html#pandas.Series.values
crp_series_4.values

array(['BTC', 'XRP', 'LTC', 'ADA', 'ETH'], dtype=object)

In [31]:
# index is used to return the index (axis labels) of the Series
crp_series_4.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
# dtype is used to return the datatype of the Series ('O' stands for 'object' datatype)
crp_series_4.dtype

dtype('O')

In [34]:
# Check if all elements are unique or not
crp_series_4.is_unique

True

In [35]:
# Check the shape of the Series
# note that a Series is one dimensional
crp_series_4.shape

(5,)

**MINI CHALLENGE #4:** 
- **What is the size of the Pandas Series? (External Research for the proper attribute is Required)**

In [36]:
crp_series_4.size

5

# TASK #5. PANDAS METHODS

In [37]:
# Methods have parentheses and they actually alter/change the Pandas Series
# Methods: use parantheses "()" and might include arguments. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()

# Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data
# Note that we have int64 datatype which means it contains integer values stored in 64 bits in memory

crypto_prices = pd.Series([400, 500, 1500, 20, 70])
crypto_prices

0     400
1     500
2    1500
3      20
4      70
dtype: int64

In [38]:
# Let's obtain the sum of all elements in the Pandas Series
crypto_prices.sum()

2490

In [39]:
# Let's obtain the multiplication of all elements in the Pandas Series
crypto_prices.product()

420000000000

In [41]:
# Let's obtain the average
crypto_prices.mean()

498.0

In [42]:
# Let's show the first couple of elements in the Pandas Series
crypto_prices.head(3)

0     400
1     500
2    1500
dtype: int64

In [43]:
# Note that head creates a new dataframe 
crypto_prices_new = crypto_prices.head(3)
crypto_prices_new

0     400
1     500
2    1500
dtype: int64

**MINI CHALLENGE #5:** 
- **Show the last 2 rows in the Pandas Series (External Research is Required)** 
- **How many bytes does this Pandas Series consume in memory? (External Research is Required)**

In [44]:
crypto_prices.tail(2)

3    20
4    70
dtype: int64

In [45]:
crypto_prices.memory_usage()

168

# TASK #6. IMPORT CSV DATA (1-D) USING PANDAS

In [ ]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted

In [48]:
crypto = pd.read_csv('crypto.csv', squeeze=True)  # squeeze=True for pandas series creation instead of df
crypto

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

**MINI CHALLENGE #6:**
- **Set Squeeze = False and rerun the cell, what do you notice? Use Type to compare both outputs**

In [49]:
crypto_df = pd.read_csv('crypto.csv', squeeze=False)   # squeeze=False by default
crypto_df

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

# TASK #7. PANDAS BUILT-IN FUNCTIONS

In [50]:
# Pandas works great with pre-existing python functions 
# You don't have to play with pandas methods and directly leverage Python functions
# Check Python built-in functions here: https://docs.python.org/3/library/functions.html
crypto = pd.read_csv('crypto.csv', squeeze=True)

In [51]:
# Obtain the Data Type of the Pandas Series
type(crypto)

pandas.core.series.Series

In [52]:
# Obtain the length of the Pandas Series
len(crypto)

2385

In [53]:
# Obtain the maximum value of the Pandas Series
max(crypto)   # equivalent to crypto.max()

61243.08594

In [55]:
# Obtain the minimum value of the Pandas Series
min(crypto)   # equivalent to crypto.min()

178.1029968

**MINI CHALLENGE #7:**
- **Given the following Pandas Series, convert all positive values to negative using python built-in functions**
- **Obtain only unique values (ie: Remove duplicates) using python built-in functions**
- my_series = pd.Series(data = [-10, 100, -30, 50, 100])

In [57]:
# Given the following Pandas Series, convert all positive values to negative 
# using python built-in functions
my_series_7 = pd.Series(data = [-10, 100, -30, 50, 100])
-abs(my_series_7)

0    -10
1   -100
2    -30
3    -50
4   -100
dtype: int64

In [58]:
# Obtain only unique values (ie: Remove duplicates) using python built-in functions
set(my_series_7)

{-30, -10, 50, 100}

# TASK #8. SORTING PANDAS SERIES

In [59]:
# Let's import CSV data as follows:
crypto = pd.read_csv('crypto.csv', squeeze=True)

In [60]:
# You can sort the values in the dataframe as follows
crypto.sort_values()

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

In [61]:
# Let's view Pandas Series again after sorting, Note that nothing changed in memory! you have to make sure that inplace is set to True
crypto

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [62]:
# Set inplace = True to ensure that change has taken place in memory 
crypto.sort_values(inplace=True)

In [63]:
# Note that now the change (ordering) took place 
crypto

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

In [66]:
# Notice that the indexes are now changed 
# You can also sort by index (revert back to the original Pandas Series) as follows: 
crypto.sort_index(inplace=True)
crypto

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

**MINI CHALLENGE #8:**
- **Sort the BTC_price_series values in a decending order instead. Make sure to update values in-memory.**

In [68]:
crypto.sort_values(ascending=False, inplace=True)
crypto

2365    61243.085940
2366    59302.316410
2384    59095.808590
2383    58918.832030
2382    58917.691410
            ...
123       210.339004
120       209.843994
121       208.097000
122       199.259995
119       178.102997
Name: BTC-USD Price, Length: 2385, dtype: float64

# TASK #9. PERFORM MATH OPERATIONS ON PANDAS SERIES

In [69]:
# Let's import CSV data as follows:
crypto = pd.read_csv('crypto.csv', squeeze=True)
crypto

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [70]:
# Apply Sum Method on Pandas Series
crypto.sum()

15435379.738852698

In [71]:
# Apply count Method on Pandas Series
crypto.count()

2385

In [72]:
# Obtain the maximum value
crypto.max()

61243.08594

In [73]:
# Obtain the minimum value
crypto.min()

178.1029968

In [74]:
# My favourite: Describe! 
# Describe is used to obtain all statistical information in one place 
crypto.describe()

count     2385.000000
mean      6471.857333
std       9289.022505
min        178.102997
25%        454.618988
50%       4076.632568
75%       8864.766602
max      61243.085940
Name: BTC-USD Price, dtype: float64

**MINI CHALLENGE #9:**
- **Obtain the average price of the BTC_price_series using two different methods**

In [76]:
crypto.mean()

6471.857332852284

In [77]:
crypto.sum()/crypto.count()

6471.857332852284

# TASK #10. CHECK IF A GIVEN ELEMENT EXISTS IN A PANDAS SERIES

In [78]:
# Let's import CSV data as follows:
crypto = pd.read_csv('crypto.csv', squeeze=True)
crypto

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [83]:
# Check if a given number exists in a Pandas Series values
# Returns a boolean "True" or "False"
113934 in crypto.values

False

In [81]:
# Note that by default 'in' will search in Pandas index and not values
5 in crypto

True

**MINI CHALLENGE #10:**
- **Check if the stock price 399 exists in the BTC_price_series Pandas Series or not**
- **Round stock prices to the nearest integer and check again**

In [84]:
399 in crypto.values

False

In [85]:
round_crypto = round(crypto)
399 in round_crypto.values

True